@model EMarket.Models.Customer

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Order> lsOrder = ViewBag.lsOrder as List<Order>;

    EMarket.ModelViews.ChangePasswordVM changePassword = new EMarket.ModelViews.ChangePasswordVM();

}

@*<main class="main-content">*@
<div class="breadcrumb-area breadcrumb-height" data-bg-image="assets/images/breadcrumb/bg/1-1-1920x373.jpg">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-12">
                <div class="breadcrumb-item">
                    <h2 class="breadcrumb-heading">Product Related</h2>
                    <ul>
                        <li>
                            <a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
                        </li>
                        <li>Tài khoản của tôi</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="account-page-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="account-dashboard-tab" data-bs-toggle="tab" href="#account-dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true">THÔNG TIN TÀI KHOẢN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-orders-tab" data-bs-toggle="tab" href="#account-orders" role="tab" aria-controls="account-orders" aria-selected="false">DANH SÁCH ĐƠN HÀNG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-details-tab" data-bs-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="false">ĐỔI MẬT KHẨU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-logout-tab" href="/logout.html" role="tab" aria-selected="false">ĐĂNG XUẤT</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                    <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
                        <div class="myaccount-dashboard">
                            <p>
                                Xin chào <b>@Model.FullName</b>,
                                <br />
                            </p>
                            <p>
                                Email: @Model.Email
                            </p>
                            <p>Phone: @Model.Phone</p>
                            <p>
                                Địa chỉ: @Model.Address
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                        <div class="myaccount-orders">
                            <h4 class="small-title">DANH SÁCH ĐƠN HÀNG</h4>
                            <div class="table-responsive">
                                @*https://www.red-gate.com/simple-talk/development/dotnet-development/policy-based-authorization-in-asp-net-core-a-deep-dive/#:~:text=The%20Authorize%20attribute%20enables%20you,if%20the%20user%20is%20authenticated.*@
                                @await Html.PartialAsync("_DonhangPartial", lsOrder)
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                        <div class="myaccount-address">
                            <p>The following addresses will be used on the checkout page by default.</p>
                            <div class="row">
                                <div class="col">
                                    <h4 class="small-title">BILLING ADDRESS</h4>
                                    <address>
                                        1234 Heaven Stress, Beverly Hill OldYork UnitedState of Lorem
                                    </address>
                                </div>
                                <div class="col">
                                    <h4 class="small-title">SHIPPING ADDRESS</h4>
                                    <address>
                                        1234 Heaven Stress, Beverly Hill OldYork UnitedState of Lorem
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                        @await Html.PartialAsync("_ChangePasswordPartial", changePassword)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".xemdonhang").click(function () {
                var madonhang = $(this).attr("data-madonhang")
                $.ajax({
                    url: '/DonHang/Details',
                    datatype: "json",
                    type: "POST",
                    data: { id: madonhang },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        console.log(xhr)
                        alert('error');
                    }
                });
            });
        });</script>
}
