@model EMarket.Models.Product

@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm " + Model.ProductName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@Model.ProductId" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="Thumb" />
    <input type="hidden" asp-for="DateCreated" />
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">

            </div>
            <div class="m-b-15">
                <button class="btn btn-success" type="submit">
                    <i class="anticon anticon-save"></i>
                    <span>Lưu lại</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Thông tin cơ bản</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-option">Thông tin tùy chọn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-description">Mô tả sản phẩm</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" asp-for="ProductName">@Html.DisplayNameFor(Model => Model.ProductName)</label>
                        <input type="text" class="form-control" asp-for="ProductName">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" asp-for="ShortDesc">Mô tả ngắn</label>
                        <input type="text" class="form-control" asp-for="ShortDesc">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" asp-for="Price">@Html.DisplayNameFor(Model => Model.Price)</label>
                            <input type="text" class="form-control" asp-for="Price">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" asp-for="Discount">Discount (%)</label>
                            <input type="text" class="form-control" asp-for="Discount">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label class="font-weight-semibold">Danh mục sản phẩm</label>
                            <select class="custom-select" asp-for="CatId" asp-items="@ViewBag.DanhMuc">
                                <option value="-1" disabled selected style="font-weight: bold;">Chọn danh mục</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label class="font-weight-semibold" asp-for="UnitsInStock">Tồn kho</label>
                            <input type="text" class="form-control" asp-for="UnitsInStock">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-semibold">Ảnh đại diện</label>
                        <input type="file" name="fThumb" class="form-control-file" asp-for="Thumb" />
                        <span asp-validation-for="Thumb" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="m-t-25">
                            <div class="form-group d-flex align-items-center">
                                <div class="switch m-r-10">
                                    <input type="checkbox" asp-for="Active" checked="">
                                    <label for="Active"></label>
                                </div>
                                <label>Public</label>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <div class="switch m-r-10">
                                    <input type="checkbox" asp-for="HomeFlag">
                                    <label for="HomeFlag"></label>
                                </div>
                                <label>HomeFlag</label>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <div class="switch m-r-10">
                                    <input type="checkbox" asp-for="BestSellers">
                                    <label for="BestSellers"></label>
                                </div>
                                <label>BestSellers</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold">Trạng thái</label>
                        <select class="custom-select" id="productStatus">
                            <option value="inStock" selected>In Stock</option>
                            <option value="outOfStock">Out of Stock</option>
                            <option value="pending">Pending</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-option">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold">Title</label>
                        <input type="text" class="form-control" asp-for="Title">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold">MetaDesc</label>
                        <input type="text" class="form-control" asp-for="MetaDesc">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold">MetaKey</label>
                        <input type="text" class="form-control" asp-for="MetaKey">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold"></label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-description">
            <div class="card">
                <div class="card-body">
                    <textarea asp-for="Description">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</form>
<hr />

@section CSS{
    <style>
        .ck.ck-editor__main > .ck-editor__editable {
            min-height: 200px !important;
        }
    </style>
}

@section Scripts{

    <script src="~/Adminassets/vendors/select2/select2.min.js"></script>
    <script src="~/Adminassets/vendors/quill/quill.min.js"></script>
    <script src="~/Adminassets/js/pages/e-commerce-product-edit.js"></script>
    <script src="~/Adminassets/vendors/ckeditor/build/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Description'), {
                licenseKey: '',
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                console.warn('Build id: mxefwd8uabpg-nvqywtx4rvf5');
                console.error(error);
            });
    </script>
}

